/* font */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
/* Remove Default Design */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-color: #212121;
    font-family: 'VT323', monospace;
    font-size: 1.5rem;
    overflow-x: hidden;
}
a{
    text-decoration:none;
}
button {
    width: 180px;
    padding: 20px;
    font-size: 1.2rem;
    background-color: var(--sFont);
    border:none;
    cursor: pointer;
    color: var(--wFont);
}
button:hover{
    background-color: var(--pFont);
}
/* variable */
:root{
    --leftText: #808285;
    --yFont: #E6DB74;
    --wFont:#FFFFFF;
    --pFont:#9A99FF;
    --sFont:#2fcbef;
    --border:1px solid rgba(174, 167, 167, 0.2);
    --contentMargin: 150px 300px;
    --sectionMargin:80px;
}
main{
    width: 100%;
    display: flex;
    border-bottom: var(--border);
}
/* left fixed text */
.left-fixed{
    width: 4%;
    height: 10;
    margin-top: 6px;
}
.left-fixed div{
    width: 100%;
    padding-top: 4px;
    text-align: center;
    font-size: 21px;
    color: var(--leftText);
}
/* main content */
.container{
    width: 94%;
    height: 100%;
    border-left: var(--border);
}
/* navigation  */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}
.home-name{
    margin: 20px;
    color: var(--wFont);
}
.home-name span{
    margin: 30px;
    color: var(--pFont);
}
nav li{
    display: inline;
    list-style: none;
    padding: 10px 40px;
}
nav a{
    color: var(--yFont);
}
nav a:hover{
    color: var(--pFont);
}
.home{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.name-info{
    color: var(--wFont);
    font-size: 1.8rem;
}
.des-info{
    color: var(--wFont);
    font-size: 8rem;
    position: relative;
}
.des-info span{
    color: var(--yFont);
}
.des-info span::before{
    content: "";
    position: absolute;
    height: 80px;
    width: 10px;
    background-color: var(--yFont);
    top: 30%;
    right: 120px;
    animation: blink 0.7s infinite;
}
@keyframes blink {
    50%{
        opacity: 0;
    }
}

/* section */
.section-info{
    margin: var(--sectionMargin);
}
.section-logo{
    font-size: 2.5rem;
    color: var(--pFont);
}
.section-title{
    font-size: 8rem;
    color: var(--wFont);
}
.section-des{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--yFont);
    width: 800px;
}
.section-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about{
    margin: var(--contentMargin);
}
/* about */
.about-info{
    border-top: var(--border);
    display: flex;
}
.about-left,.about-right{
    width: 50%;
    padding: 50px;
}
.about-right{
    color: var(--yFont);
}
.about-left{
    color: var(--wFont);
    border-right: var(--border);
}
/* projects */
.projects-info{
    display: flex;
    flex-wrap: wrap;
}
.p-info{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    width: 50%;
    height: 800px;
    border-block: var(--border);
    border-left:var(--border);;
}
.p-title a{
    color: var(--wFont);
    font-size: 4rem;
}
.p-des{
    color: var(--yFont);
}
.p-img img{
    width: 700px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}
.p-more a{
    color: var(--wFont);
}
.p-more{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: var(--sectionMargin);
    margin-bottom: 0px;
}

/* skills */
.skills{
    margin: var(--contentMargin);
}
.skills ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills li{
    display: inline;
    list-style: none;
}
/* resume */
.resume{
    margin: var(--contentMargin);
}
.r-info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.r-info a{
    color: var(--wFont);
}
/* contact me */
.contact{
    margin: var(--contentMargin);
}
.c-info form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form input, form textarea{
    width: 100%;
    background-color: #212121;
    color: var(--pFont);
    font-family: 'VT323', monospace;
    font-size: 1.3rem;
    border:0;
    border-bottom: var(--border);
    outline: none;
    padding: 20px;
    margin-block: 20px;
}
form input:focus, form textarea:focus{
    border-bottom:1px solid var(--pFont);
}
form input::placeholder, form textarea::placeholder{
    opacity: 1;
}
form button{
    margin-block: 50px;
}
.social ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0px 300px;
}
.social li{
    display: inline;
    list-style: none;
    padding: 10px 40px;
}
.social i{
    font-size: 50px;
    color: var(--wFont);   
}
.social i:hover{
    color: var(--pFont);
}
.form-group{
    width: 100%;
    position: relative;
}
#error{
    position: absolute;
    bottom: 30px;
    right:30px;
    color: rgb(129, 41, 41);
}
/* footer */
footer{
    width: 100%;
    height: 80px;
    color: var(--yFont);
    display: flex;
    justify-content: center;
    align-items: center;
}
/* media  	640px  768px  1024px  1280px  1536px */
